<!--========================================================
                        SLIDER
=========================================================-->
<section class="slider slider2 slider-parallax owl-carousel owl-theme">
    <div class="item slider-bg-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                        Bringing You a positive and awakening <br>
                        perspective on your future
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s">So students experience better learning, better lives.</p>
                    <a href="#" class="btn-1 wow fadeInUp" data-wow-delay=".5s">Discover Academics Coaching</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item slider-bg-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                        Professional development for <br>
                        coaches and leaders
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s">So students experience better learning, better lives.</p>
                    <a href="#" class="btn-1 wow fadeInUp" data-wow-delay=".5s">Discover Academics Coaching</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================================================
                      DISCOVER
=========================================================-->
<div class="container mt80">
    <div class="row">
        <div class="col">
            <h2 class="wow fadeInUp title-big" data-wow-delay=".3s">
                Since 2000, we've been partnering with education leaders
                to <br>
                <a href="#" class="link">
                    increase equity
                    and achievement
                </a> for all students.
            </h2>
        </div>
    </div>
</div>

<div class="container mt80">
    <div class="row">
        <div class="col-md-4">
            <div class="feature-item bxw wow fadeInUp hoverpop" data-wow-delay=".6s">
                <img src="~/assetions/img/icon1.png" alt="">
                <h3> <a href="#">Online Coaching</a></h3>
                <p>
                    Lorem ipsum is simply dummy text of the print ing and typesetting
                    has been the industry's.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-item bxw wow fadeInUp hoverpop" data-wow-delay=".7s">
                <img src="~/assetions/img/icon2.png" alt="">
                <h3> <a href="#">Consultation</a></h3>
                <p>
                    Lorem ipsum is simply dummy text of the print ing and typesetting
                    has been the industry's.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-item bxw wow fadeInUp hoverpop" data-wow-delay=".8s">
                <img src="~/assetions/img/icon3.png" alt="">
                <h3> <a href="#">Life Programs</a></h3>
                <p>
                    Lorem ipsum is simply dummy text of the print ing and typesetting
                    has been the industry's.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="counter mt40 mb150 rmb70 wow fadeInUp" data-wow-delay=".3s">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="c-orange"><span>6500</span> <i class="fas fa-plus"></i> <strong>Happy Clients</strong></h2>
                <img src="~/assetions/img/counter-shape-1.png" alt="">
            </div>
            <div class="col-md-4">
                <h2 class="c-red"><span>200</span> <i class="fas fa-plus"></i> <strong>Online Courses</strong></h2>
                <img src="~/assetions/img/counter-shape-2.png" alt="">
            </div>
            <div class="col-md-4">
                <h2 class="c-green"><span>100</span> <i class="fas fa-percent"></i> <strong>Satisfaction</strong></h2>
                <img src="~/assetions/img/counter-shape-3.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--========================================================
                      COURSE
=========================================================-->
<section class="course pt100 pb80">
    <div class="container-fluid course-padding">
        <div class="row">
            <div class="col-lg-6">
                <div class="course-req-form bxw wow fadeInUp" data-wow-delay=".4s">
                    <div class="text-center">
                        <h2>Request Free Course</h2>
                        <p class="mt20 mb90">
                            <img src="~/assetions/img/icon-new.png" alt="">Receive <a href="#" class="link">5 FREE</a>
                            coach training demonstrations!
                        </p>
                        <a href="#" class="btn-1">Select Your Course <i class="ti-angle-right"></i></a>
                    </div>
                    <form action="#">
                        <div class="row mt80">
                            <div class="col-md-6">
                                <input type="text" placeholder="First name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Last name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <input type="tel" placeholder="Phone">
                            </div>
                            <div class="col-md-12">
                                <input type="url" placeholder="Website">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn-2">Get Free Course Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 text-center rmt70">
                <h2 class="font-weight-normal wow fadeInUp" data-wow-delay=".3s">
                    As an adaptive learning center teacher, Andy goes above and beyond to ensure
                    students with diverse learning needs can succeed in a general education setting.
                </h2>
                <h3 class="mtb60 wow fadeInUp" data-wow-delay=".4s">As Featured in</h3>
                <img src="~/assetions/img/client.png" class="wow fadeInUp" data-wow-delay=".5s" alt="">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12 mb80">
            <div class="section-title">
                <h2 class="wow fadeInUp" data-wow-delay=".3s">Recent Courses</h2>
                <p class="wow fadeInUp" data-wow-delay=".4s">Whether you’re considering a foundation course or an undergraduate degree master's or a PhD, academics is a place where students thrive.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="course-item bxw wow fadeInUp" data-wow-delay=".3s">
                <div class="course-item-img">
                    <img src="~/assetions/img/course-item1.jpg" alt="">
                </div>
                <div class="course-item-content">
                    <span>$23</span>
                    <a href="#">
                        <h3 class="mt10 mb30">
                            Swearing reduces pain but
                            using a taboo hand...
                        </h3>
                    </a>
                    <a href="#" class="course-item-author">Course by James Bond</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="course-item bxw wow fadeInUp" data-wow-delay=".4s">
                <div class="course-item-img">
                    <img src="~/assetions/img/course-item2.jpg" alt="">
                </div>
                <div class="course-item-content">
                    <span>$34</span>
                    <a href="#">
                        <h3 class="mt10 mb30">
                            Swearing reduces pain but
                            using a taboo hand...
                        </h3>
                    </a>
                    <a href="#" class="course-item-author">Course by Charlie Brown</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="course-item bxw wow fadeInUp" data-wow-delay=".4s">
                <div class="course-item-img">
                    <img src="~/assetions/img/course-item3.jpg" alt="">
                </div>
                <div class="course-item-content">
                    <span>FREE</span>
                    <a href="#">
                        <h3 class="mt10 mb30">
                            Swearing reduces pain but
                            using a taboo hand...
                        </h3>
                    </a>
                    <a href="#" class="course-item-author">Course by Jhon Snow</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========================================================
                      TWITET
=========================================================-->
<div class="twitet mt60 mb80">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="wow fadeInUp" data-wow-delay=".3s">See What Teachers Have To Say</h3>
                <p class="wow fadeInUp" data-wow-delay=".4s">
                    "Academics was committed to my success from the moment I attended
                    an Open House. With the support of caring <a href="#" class="link">advisors, professors, and staff</a> i was
                    able to thrive in courses, gain recognition through scholarships, and finish <strong>
                        with confidence in my
                        <a href="#" class="link2">academics</a> abilities.
                    </strong>"
                </p>
                <a href="#" class="link2 wow fadeInUp" data-wow-delay=".5s">
                    AcademicsUniversity <i class="ti-twitter-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--========================================================
                        VIDEO
=========================================================-->
<section class="video video-red">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="video-base">
                    <img src="~/assetions/img/video-bg.jpg" alt="" />
                    <a href="https://www.youtube.com/watch?v=9xwazD5SyVg" class="bxw wow fadeInLeft" data-wow-delay=".3s"
                       data-fancybox>
                        <svg x="0px" y="0px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                             xml:space="preserve">
                        <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                                stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"></circle>
                        <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1"></polygon>
              </svg>
                    </a>
                </div>
                <div class="video-content bxw wow fadeInRight" data-wow-delay=".3s">
                    <span>Visit Us</span>
                    <ul>
                        <li>
                            <img src="~/assetions/img/v-icon1.png" alt="">
                            <div class="video-content-text">
                                <h3>Princeton offers admission information sessions and student-led tours to campus visitors</h3>
                                <a href="#" class="link2">Learn more <i class="ti-angle-right"></i></a>
                            </div>
                        </li>
                        <li>
                            <img src="~/assetions/img/v-icon2.png" alt="">
                            <div class="video-content-text">
                                <h3>Princeton on the Road</h3>
                                <a href="#" class="link2">Learn more <i class="ti-angle-right"></i></a>
                            </div>
                        </li>
                    </ul>
                    <div class="video-map">
                        <a href="javascript:;"
                           data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94132.88928942816!2d-71.65261528341081!3d42.4989336766174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3ecb80090cd81%3A0x4a92bb8ced93430c!2sHarvard%2C+MA%2C+USA!5e0!3m2!1sen!2sbd!4v1560964786737!5m2!1sen!2sbd"
                           data-fancybox data-type="iframe" class="link2">
                            <i class="ti-map fs16"></i> View Our Campus Map <i class="ti-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================================================
                        GALLERY
=========================================================-->
<section class="gallery mt150">
    <div class="container mb80">
        <div class="row">
            <div class="col">
                <div class="section-title">
                    <h2 class="wow fadeInUp font-weight-bold" data-wow-delay=".2s">
                        <i class="ti-instagram mr-3 c-red"></i>
                        Instagram
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-carousel owl-carousel owl-theme wow fadeInUp" data-wow-delay=".4s">
        <div class="item">
            <img src="~/assetions/img/gallery-1.jpg" alt="">
            <div class="gallery-carousel-content">
                <a href="~/assetions/img/gallery-1.jpg" data-fancybox><i class="ti-image"></i></a>
                <h3>Driving Innovation ( HD image )</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/assetions/img/gallery-2.jpg" alt="">
            <div class="gallery-carousel-content">
                <a href="https://www.youtube.com/watch?v=YrTKQ9tKPoQ" data-fancybox><i class="fas fa-play"></i></a>
                <h3>Driving Innovation (4k Video - 3min)</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/assetions/img/gallery-3.jpg" alt="">
            <div class="gallery-carousel-content">
                <a href="~/assetions/img/gallery-3.jpg" data-fancybox><i class="ti-image"></i></a>
                <h3>Driving Innovation ( HD image )</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/assetions/img/gallery-4.jpg" alt="">
            <div class="gallery-carousel-content">
                <a href="https://www.youtube.com/watch?v=YrTKQ9tKPoQ" data-fancybox><i class="fas fa-play"></i></a>
                <h3>Driving Innovation (4k Video - 3min)</h3>
            </div>
        </div>
    </div>
</section>