<section class="breadcrumb breadcrumb-img">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Who we are</h1>
                <ul>
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li>Who we are</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--========================================================
                        ABOUT
=========================================================-->
<section class="mt100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 wow fadeInUp" data-wow-delay=".3s">
                <div class="bxw">
                    <div class="item-with-img">
                        <img src="~/assetions/img/mission.jpg" alt="">
                        <div class="item-text">
                            <h2>Our vision</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem <br> Ipsum has been
                                the
                                industry's standard dummy text ever since the 1500s, when an <br> utype specimen book It has survive
                                dries.
                            </p>
                            <a href="#" class="link2">More information <i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 rmt70">
                <div class="wow fadeInUp" data-wow-delay=".4s">
                    <h2 class="mb10 mt-8">Our mission</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an utype specimen book It has survive dries.
                    </p>

                    <p class="mtb30">
                        The industry's standard dummy text ever since the 1500s, when an utype specimen book It has
                        survive dries.
                    </p>
                    <a href="#" class="link2">More information <i class="ti-angle-right"></i></a>
                </div>

                <div class="curriculum-list bxw mt80 wow fadeInUp" data-wow-delay=".3s">
                    <h3>Find out more about Academics</h3>
                    <ul>
                        <li><a href="#" class="link2"> Study at Academics</a></li>
                        <li><a href="#" class="link2"> Attend an Open Day</a></li>
                        <li><a href="#" class="link2"> Our history</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="counter mtb80 wow fadeInUp" data-wow-delay=".3s">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="c-orange"><span>6500</span> <i class="fas fa-plus"></i> <strong>Happy Clients</strong></h2>
                <img src="~/assetions/img/counter-shape-1.png" alt="">
            </div>
            <div class="col-md-4">
                <h2 class="c-red"><span>200</span> <i class="fas fa-plus"></i> <strong>Online Courses</strong></h2>
                <img src="~/assetions/img/counter-shape-2.png" alt="">
            </div>
            <div class="col-md-4">
                <h2 class="c-green"><span>100</span> <i class="fas fa-percent"></i> <strong>Satisfaction</strong></h2>
                <img src="~/assetions/img/counter-shape-3.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--========================================================
                      CURRICULUM
=========================================================-->
<section class="curriculum">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="curriculum-quote bxw wow fadeInUp hoverpop" data-wow-delay=".4s">
                    <h3>
                        Since 2000, we've been partnering with education leaders to <a href="#">
                            increase equity and
                            achievement
                        </a> for all students.
                    </h3>
                    <a href="#" class="link2">Learn More About Experience Coaching <i class="ti-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="curriculum-item bxw wow fadeInUp hoverpop" data-wow-delay=".5s">
                    <h3>About us</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an utype specimen book It has survive dries
                        print ing and
                        typesetting industry.
                    </p>
                    <a href="#" class="link">More information <i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================================================
                      TWITET
=========================================================-->
<div class="twitet mt60 mb80">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="wow fadeInUp" data-wow-delay=".3s">See What Teachers Have To Say</h3>
                <p class="wow fadeInUp" data-wow-delay=".4s">
                    "Academics was committed to my success from the moment I attended
                    an Open House. With the support of caring <a href="#" class="link">advisors, professors, and staff</a> i was
                    able to thrive in courses, gain recognition through scholarships, and finish <strong>
                        with confidence in my
                        <a href="#" class="link2">academics</a> abilities.
                    </strong>"
                </p>
                <a href="#" class="link2 wow fadeInUp" data-wow-delay=".5s">
                    AcademicsUniversity <i class="ti-twitter-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--========================================================
                      OUR VALUES
=========================================================-->
<section class="our-value-section wow fadeInUp" data-wow-delay=".3s">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt50">
                <h2>Our values</h2>
                <p>Keep up with all the latest goings-on at Academics University on our blog Driving Innovation!</p>
            </div>
            <div class="col-md-9">
                <div class="our-value-carousel our-value owl-carousel owl-theme">
                    <div class="item">
                        <div class="our-value-img">
                            <img src="~/assetions/img/value-video-1.jpg" alt="">
                            <i data-src="https://www.youtube.com/watch?v=9xwazD5SyVg" data-fancybox class="fas fa-play"></i>
                        </div>
                        <a href="#">
                            Obsessed with being busy?
                            A historical perspective
                        </a>
                    </div>
                    <div class="item">
                        <div class="our-value-img">
                            <img src="~/assetions/img/value-video-2.jpg" alt="">
                            <i data-src="https://www.youtube.com/watch?v=9xwazD5SyVg" data-fancybox class="fas fa-play"></i>
                        </div>
                        <a href="#">
                            Swearing reduces pain but
                            using a taboo hand...
                        </a>
                    </div>
                    <div class="item">
                        <div class="our-value-img">
                            <img src="~/assetions/img/value-video-3.jpg" alt="">
                            <i data-src="https://www.youtube.com/watch?v=9xwazD5SyVg" data-fancybox class="fas fa-play"></i>
                        </div>
                        <a href="#">
                            Peer pressure changes how
                            teens tackle inequality
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--========================================================
                        VIDEO
=========================================================-->
<section class="video video-yellow mt80 mb160">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="video-base">
                    <img src="~/assetions/img/video-bg.jpg" alt="" />
                    <a href="https://www.youtube.com/watch?v=9xwazD5SyVg" class="bxw wow fadeInLeft" data-wow-delay=".3s"
                       data-fancybox>
                        <svg x="0px" y="0px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                             xml:space="preserve">
                        <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                                stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"></circle>
                        <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1"></polygon>
              </svg>
                    </a>
                </div>
                <div class="video-content bxw wow fadeInRight" data-wow-delay=".3s">
                    <span>Visit Us</span>
                    <ul>
                        <li>
                            <img src="~/assetions/img/v-icon1.png" alt="">
                            <div class="video-content-text">
                                <h3>Princeton offers admission information sessions and student-led tours to campus visitors</h3>
                                <a href="#" class="link2">Learn more <i class="ti-angle-right"></i></a>
                            </div>
                        </li>
                        <li>
                            <img src="~/assetions/img/v-icon2.png" alt="">
                            <div class="video-content-text">
                                <h3>Princeton on the Road</h3>
                                <a href="#" class="link2">Learn more <i class="ti-angle-right"></i></a>
                            </div>
                        </li>
                    </ul>
                    <div class="video-map">
                        <a href="javascript:;"
                           data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94132.88928942816!2d-71.65261528341081!3d42.4989336766174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3ecb80090cd81%3A0x4a92bb8ced93430c!2sHarvard%2C+MA%2C+USA!5e0!3m2!1sen!2sbd!4v1560964786737!5m2!1sen!2sbd"
                           data-fancybox data-type="iframe" class="link2">
                            <i class="ti-map fs16"></i> View Our Campus Map <i class="ti-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>