<header>
    <div class="container">
    </div><div class="row">
        <div class="col-md-4 col-lg-2">
            <div class="logo">
                <a href="index-2.html">
                    <img src="~/assetions/img/logo-4.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4 col-lg-8">
            <nav>
                <ul>
                    <li>
                        <a class="active" href="index-2.html">Trang chủ</a>
                    </li>
                    <li><a href="/about.html">Về chúng tôi</a></li>
                    <li><a href="/academics.html">Các khóa học</a></li>
                    <li><a href="/blogs.html">Tin tức</a></li>
                    <li><a href="/history.html">Lịch sử phát triển</a></li>
                    <li><a href="/dang-nhap.html">Đăng nhập</a>
                    <li><a href="/login.html">Đăng ký</a>
                </ul>
            </nav>
            <div class="mobile-menu">
                <i class="ti-menu"></i>
                <i class="ti-close"></i>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
        </div>
    </div>
</header>